
body {
    background-color:  #000000;
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 0px;
}
.fondo{
    background-color: rgba(3,27,29,255);
    border-radius: 5px;
    border: 5px solid #dfe22f; 
    margin-top: 10%;
    margin-bottom: 0px;
}

header {
    background-color: rgba(3,27,29,255);
    padding: 20px 0;
}

nav{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

#home {
    text-align: center;
    padding: 50px 20px;
}
/*---------------------------------------Introduccion ------------------------------------------------*/
.intro {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
   
    background-color: rgba(3, 27, 29, 1); 
}

.intro-texto {
    width: 40%; 
    color: white; 
    text-align: left;
    padding-left: 10%;
    
}

.intro-texto span {
    color: #dfe22f;
}

.sub-intro {
    color: #374646;
}

.intro-texto button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px; 
}

.resume {
    background-color: #dfe22f;
    color: rgba(3, 27, 29, 1);
    border-radius: 5px;
    border: 1px solid rgba(3, 27, 29, 1);
}

.hire {

    background-color: rgba(3, 27, 29, 1);
    color: #dfe22f;
    border-radius: 5px;
}

.intro-img {
    width: 50%; 
    display: flex;
    justify-content: center;
}

.intro-img img {
    max-width: 50%; 
    border: 5px solid #dfe22f; 
    border-radius: 10px; 
    height: auto; 

}

.fa-solid.fa-arrow-right{
    color: #dfe22f;
}

/*---------------------------------------About ------------------------------------------------*/
#about {
    padding: 50px 20px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    text-align: center;
}

.about-image img {
    width: 200px;

}

.about-image button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #dfe22f;
}

/*---------------------------------------Project ------------------------------------------------*/
h2{
    color: #dfe22f;
    text-align: center;
}

.ContenedorProjectImg{
    display: flex;
    background-color: #374646;
    justify-content:space-between;
    width: 100%;
    border: 1px solid white;

}
.ContenedorProject{
    width: 90%;
    padding-left: 10%;
    background-color: rgba(3,27,29,255);
}
.project{
    height: 80%;
    width: 30%;
    border: 1px solid rgb(204, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  
}
div img{
    width: 100%;
}

/*---------------------------------------Servicios ------------------------------------------------*/
#services {
    background-color: rgba(3, 27, 29, 1);
    padding: 50px 20px;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service {
    background-color:  rgba(3, 27, 29, 1)6;
    padding: 20px;
    border-radius: 5px;
}

/*---------------------------------------Planes ------------------------------------------------*/
#pricing {
    background-color: rgba(3, 27, 29, 1);
    padding: 50px 20px;
    text-align: center;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.plan {
    background-color:  rgba(3, 27, 29, 1);
    padding: 20px;
    border-radius: 5px;
}

/*---------------------------------------Footer ------------------------------------------------*/

footer {
    background-color: rgba(3, 27, 29, 1);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content div {
    margin: 10px;
}

.social-media a {
    margin: 0 10px;
    color: #FFC107;
    text-decoration: none;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact input, .contact button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact button {
    background-color: #FFC107;
    color: #000000;
    cursor: pointer;
}